%article{:class=> article.view_as}
  -case article.view_as
    -when 'fs'
      .fullscreen
        =image_tag article.photos.first.image.url
    -when 'ss'
      .slideshow
        %i.icon-right-arrow
        %i.icon-left-arrow
        %ul
          -article.photos.each do |p|
            %li{:class=> p.orientation}
              .img-wrapper
                -if p.orientation == 'pt'
                  =image_tag p.image.url(:portrait), :size=> '600x900'
                -else
                  =image_tag p.image.url(:landscape), :size=> '900x600'
              .img-data{:class=> ('hidden' if p.description.blank?)}
                .img-data-handler
                  %i.icon
                .img-data-wrapper
                  .top
                    :markdown
                      #{p.description}
                  .bottom
    -when 'mf'
      .movieframes
        .img-wrapper
          -article.photos.each do |p|
            =image_tag p.image.url(:movieframe), :size=> '600x400'
