%article
  .slideshow
    %i.icon-right-arrow
    %i.icon-left-arrow
    %ul
      %li
        .img-wrapper
          =image_tag 'img2.png', :width=> 600, :height=> 900
        .img-data
          .img-data-handler
            %i.icon
          .img-data-wrapper
            .top
              %span cliente:
              %a(href="#") titulo de la foto, argentina
              %span estilismo:
              %a(href="#") flora grzetic
              %span asistente de la foto:
              %a(href="#") mariano pizano
            .bottom
      %li
        .img-wrapper
          =image_tag 'img3.png', :width=> 900, :height=> 600
        .img-data
          .img-data-handler
            %i.icon
          .img-data-wrapper
            .top
              %span cliente:
              %a(href="#") titulo de la foto, argentina
              %span estilismo:
              %a(href="#") flora grzetic
              %span asistente de la foto:
              %a(href="#") mariano pizano
            .bottom
      %li
        .img-wrapper
          =image_tag 'img4.jpg', :width=> 600, :height=> 900
        .img-data
          .img-data-handler
            %i.icon
          .img-data-wrapper
            .top
              %span cliente:
              %a(href="#") titulo de la foto, argentina
              %span estilismo:
              %a(href="#") flora grzetic
              %span asistente de la foto:
              %a(href="#") mariano pizano
            .bottom
      %li
        .img-wrapper
          =image_tag 'img5.jpg', :width=> 600, :height=> 900
        .img-data
          .img-data-handler
            %i.icon
          .img-data-wrapper
            .top
              %span cliente:
              %a(href="#") titulo de la foto, argentina
              %span estilismo:
              %a(href="#") flora grzetic
              %span asistente de la foto:
              %a(href="#") mariano pizano
            .bottom
      %li
        .img-wrapper
          =image_tag 'img6.jpg', :width=> 900, :height=> 600
        .img-data
          .img-data-handler
            %i.icon
          .img-data-wrapper
            .top
              %span cliente:
              %a(href="#") titulo de la foto, argentina
              %span estilismo:
              %a(href="#") flora grzetic
              %span asistente de la foto:
              %a(href="#") mariano pizano
            .bottom
      %li
        .img-wrapper
          =image_tag 'img7.jpg', :width=> 900, :height=> 600
        .img-data
          .img-data-handler
            %i.icon
          .img-data-wrapper
            .top
              %span cliente:
              %a(href="#") titulo de la foto, argentina
              %span estilismo:
              %a(href="#") flora grzetic
              %span asistente de la foto:
              %a(href="#") mariano pizano
            .bottom
      %li
        .img-wrapper
          =image_tag 'img8.jpg', :width=> 900, :height=> 600
        .img-data
          .img-data-handler
            %i.icon
          .img-data-wrapper
            .top
              %span cliente:
              %a(href="#") titulo de la foto, argentina
              %span estilismo:
              %a(href="#") flora grzetic
              %span asistente de la foto:
              %a(href="#") mariano pizano
            .bottom
      %li
        .img-wrapper
          =image_tag 'img9.jpg', :width=> 900, :height=> 600
        .img-data
          .img-data-handler
            %i.icon
          .img-data-wrapper
            .top
              %span cliente:
              %a(href="#") titulo de la foto, argentina
              %span estilismo:
              %a(href="#") flora grzetic
              %span asistente de la foto:
              %a(href="#") mariano pizano
            .bottom
      %li
        .img-wrapper
          =image_tag 'img10.jpg', :width=> 900, :height=> 600
        .img-data
          .img-data-handler
            %i.icon
          .img-data-wrapper
            .top
              %span cliente:
              %a(href="#") titulo de la foto, argentina
              %span estilismo:
              %a(href="#") flora grzetic
              %span asistente de la foto:
              %a(href="#") mariano pizano
            .bottom

