%article{:class=> article.view_as}
  -case article.view_as
    -when 'fs'
      .full-bg(style="background-image: url(#{article.photos.first.image.url})")
    -when 'ss'
      .slideshow
        %i.icon-right-arrow
        %i.icon-left-arrow
        %ul
          -article.photos.each do |p|
            %li
              .img-wrapper
                -if p.orientation == 'pt'
                  =image_tag p.image.url(:portrait), :size=> '900x600'
                -else
                  =image_tag p.image.url(:landscape), :size=> '600x900'
              -unless p.description.blank?
                .img-data
                  .img-data-handler
                    %i.icon
                  .img-data-wrapper
                    .top
                      :markdown
                        #{p.description}
                    .bottom
    -when 'mf'
      .movieframes
        .img-wrapper
          -article.photos.each do |p|
            =image_tag p.image.url(:movieframe), :size=> '600x400'
