@import 'compass'
@import 'compass/reset'
@import 'partials/icons'
@import 'partials/shared'
@import 'partials/header'
@import 'partials/footer'
@import 'partials/fullscreen'
@import 'partials/slideshow'
@import 'partials/movieframes'


body.home.index
  background: $white
  article
    background: $white
    &:nth-child(even)
      background: $grey4
body.home.comercial
  background: $blue
  article
    background: $blue

.slide
  top: 0
  left: 0
  width: 100%
  position: fixed
  min-height: 100%
  z-index: 1
  &.next
    z-index: 2
  &.active
    z-index: 3



body
  overflow: hidden
  width: 100%
  height: 100%
  a
    text-decoration: none


