%footer
  =render :partial => "layouts/tab-link"
  .inner
    .hand-up
      %a(href='#')
        %i.icon
    .title
      %h1 Javi Obando
      %h2 fotografía
    .contact
      .envelope
        %i.icon
      .emails
        %span.label personal:
        %a(href='mailto:javi@onthecorner.com.ar') javi@onthecorner.com.ar
        %br
        %span.label comercial:
        %a(href='mailto:quiero@hellocrudo.com') quiero@hellocrudo.com
      .links
        %a(href='http://www.javiobando.tumblr.com') www.javiobando.tumblr.com
        %br
        %a(href='http://www.onthecorner.com.ar') www.onthecorner.com.ar
      .logos
        %a.otc-link(href='http://onthecornerstreetstyle.blogspot.com.ar/') on the corner
        %a.crudo-link(href='http://www.hellocrudo.com/') crudo
    %a.design-link(href='http://www.entrecasaestudio.com.ar/') diseno
