%footer
  .inner
    .hand-up
      %a(href='#')
        %i.icon
    .title
      %h1 Javi Obando
      %h2 fotografía
    .contact
      .envelope
        %i.icon
      .emails
        %span.label personal:
        %a(href='#') javi@onthecorner.com.ar
        %br
        %span.label comercial:
        %a(href='#') quiero@hellocrudo.com
      .links
        %a(href='#') www.javiobando.tumblr.com
        %br
        %a(href='#') www.onthecorner.com.ar
      .logos
        %a.otc-link(href='#') on the corner
        %a.crudo-link(href='#') crudo
    %a.design-link(href='#') diseno
