%header
  =render :partial => "layouts/tab-link"
  .inner
    #header-arrows
      %i.icon-arrows 
    .top
      .contact
        .envelope
          %i.icon
        .emails
          %span.label personal:
          %a(href='mailto:javi@onthecorner.com.ar') javi@onthecorner.com.ar
          %br
          %span.label comercial:
          %a(href='mailto:quiero@hellocrudo.com') quiero@hellocrudo.com
        .links
          %a(href='http://www.javiobando.tumblr.com') www.javiobando.tumblr.com
          %br
          %a(href='http://www.onthecorner.com.ar') www.onthecorner.com.ar
      .portfolio
        %a.pdf-link(href='#')
          %i.icon-briefcase
          %span descargar
    .middle
      .cp-links
        %a.contact-link(href="#")
          contacto
        %a.plus-sign(href="#")
          %i.icon
        %a.portfolio-link(href="#")
          portfolio
      .title
        %h1 Javi Obando
        %h2 fotografía
      .hand-down
        %a(href='#')
          %i.icon
    .bottom

